<h1>Login</h1>

<%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email], require: true %>

  <%= label_tag :password %>
  <%= password_field_tag :password, nil, require: true %>

  <%= submit_tag "Submit" %>
<% end %>

<p><i>Don't have an account? <%= link_to 'Click here to make one!', new_user_path %></i></p>
