<h2>Log In or <%= link_to "Sign Up", new_user_path %></h2>

<%= form_for(:session, url: login_path) do |f| %>
<br><br>
  <%= f.label :email %>
  <%= f.text_field :email %>
<br><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
<br><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
<br><br>
  <%= f.submit "Log In", class: "login" %>

<% end %>