<h1>Log in</h1>
<%= form_tag login_path do |f| %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= text_field_tag :password %>
  <%= submit_tag 'Log in' %>
<% end %>
<h3>Or create an account</h3>
<%= link_to 'Sign up', new_user_path %>
