<div>
  <h1>Login</h1>
  <%= form_for :session, url: login_path do |f| %>
    <%= f.label :email  %>
    <%= f.text_field :email, placeholder: 'Email' %>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: 'Password'%>

    <%= f.submit 'Log In' %>
  <% end %>
</div>

<div>
  <p>Don't have an account? <%= link_to 'Sign up by clicking here', new_user_path %></p>
</div>
