<h1>Log In or Sign Up</h1>
<% if !current_user %>
  <%= form_for :session, url: login_path do |f| %>
    <%= f.label :email%>
    <%= f.text_field :email, placeholder: "Email", required: true  %>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password", required: true%>
    <%= f.submit "Login" %>
    Need an account? <%= link_to "Sign Up", new_user_path %>
  <% end %>
<% else %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% end %>
