<h1>Login</h1>

<div class="col-6">
  <%= form_tag login_path, class: "form-group" do %>

    Email: <%= text_field_tag :email %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag "Submit", class: "btn" %>
  <% end %>

  <h4> Or if you don't have an account <%= link_to "sign up", signup_path %>
</div>
