<div class="login">
  <h1>Log in</h1>
 <%= form_tag('/login') do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.submit 'Login' %>
<% end %>
</div>

