<div class='signup'>
  <h3>Sign up</h3>
  <%= form_for(@user) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: :email %>
    <%= f.password_field :password, placeholder: 'Enter password' %>
    <%= f.password_field :password_confirmation, placeholder: 'Re-enter password' %>
    <%= f.submit 'Sign me up!' %>
  <% end %>
</div>

