<h1> Signup for URL-Lockbox! </h1>

<div class="col-6">
  <%= form_for :user, class: "form-group", url: '/users' do |f| %>

      Email: <%=f.text_field :email, class: "form-input" %>
      Password: <%=f.text_field :password, class: "form-input" %>
      Password Confirmation: <%=f.text_field :password_confirmation, class: "form-input" %>
      <br/>
      <%= f.submit "Submit", class: "btn" %>

  <% end %>

</div>
