<div class = 'link-box <%= link.mark_read_class %>'>
  <p>Title: <span class = 'link-box-title' ><%= link.title %></span></p>
  <p>URL: <span class = 'link-box-url' ><%= link.url %></span></p>
  <p>Read? <span class = 'link-box-read' ><%= link.read %></span></p>
  <p><span class = 'link-box-id' hidden ><%= link.id %></span></p>
  <button class = 'mark-read-btn' >
    <%= link.mark_read_text %>
  </button>
  <button class = 'link-edit-btn' >Edit</button>
</div>