<h4>Add New Link:</h4>
<%= form_for :link, :html => {:class => "new-link"} do |f| %>
  <%= f.label :url %>
  <%= f.url_field :url %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit "Add Link" %>
<% end %>
