<h2>Edit <%= @link.title %> Link</h2>

<%= form_for  :link, :method => "put" do |f| %>
<%= f.label 'URL'  %>
<%= f.url_field :url, value: @link.url %>
<%= f.label 'Title' %>
<%= f.text_field :title, value: @link.title %>
<%= f.submit 'Edit Link' %>
<% end %>
