<div class="row">
  <div class="col-md-12">
  <div class="card card-default alert alert-success text-center">
      <%= form_for @link do |f| %>
      <%= f.label :url %><br>
      <%= f.text_field :url %><br>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br><br>
      <%= f.submit "Update Link", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
