<% if current_user %>
  <p><%= link_to 'Log Out', login_path, method: :delete %></p>
<% end %>

<div>
  <form>
    URL:<input type="text" name="url">
    Title:<input type="text" name="title">
    <input type="submit" value="Add Link">
  </form></br>
</div>

<div class="links">
  <% @links.each do |link| %>
  <fieldset>
    <p>Title:<%= link.title %></p>
    <p>URL:<%= link_to link.url, link.url %></p>
    <p>Read?:<%= link.read %></p>
    <input type="button" value="Mark as Read">
    <%= link_to "Edit", edit_link_path(link) %>
  </fieldset>
  <% end %>
</div>
