<div class="" id="new-link">
  <form class="form-inline">
    <div class="form-group">
      <label for="url">Url</label>
      <input type="text" class="form-control" id="add-url" placeholder="Url">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="add-title" placeholder="Title">
    </div>
    <button type="submit" class="btn btn-default" id="create-link">Add Link</button>
  </form>
</div>

<hr>
<div class="" id="links-list">
  <div class="row">
  </div>
</div>
<!-- <%= form_for :link, method: :create do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Add Link" %>
<% end %>
<hr>
<% if !current_user.links.nil?  %>
  <% @links.each do |link| %>
    <div id="<%= link.id %>">
      URL: <%= link.url %><br>
      Title: <%= link.title %><br>
      Read?: <%= link.read %><br>
      <button type="button" class:"btn btn-default btn-small">Mark as Read</button>
      <%= link_to "Edit", edit_link_path(link), class:"btn btn-default btn-small" %>
    </div>
  <hr>
  <% end %>
<% end %> -->
