<div class="form-2">
<h1><span class="log-in">Add a new Link</span></h1>

<%= form_for (@add_link) do |f| %>

  <p class="float">
    <%= f.label :url %>
    <%= f.text_field :url, placeholder: "url" %>
  </p>

  <p class="float">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "title" %>
  </p>

  <p class="clearfix">
    <%= f.submit 'Submit' %>
  </p>
  <% end %>
</div>

<div class="form-3">
<h3>My Links</h3>
<table >
  <thread>
  <tr>
    <th>URL</th>
    <th>Title</th>
    <th>Read Status</th>
  </tr>
</thread>
<tbody>

    <% current_user.links.each do |link| %>
    <% if link.read %>
    <tr>
      <td class="link.url"><%=link.url%>
      <td class="link.title"><%=link.title%>
          <td class="link.title"><%= link_to "Mark as Unread", links_path(link, read: false), method: :patch %>
            <%else %>
            <td class="link.url"><%=link.url%>
            <td class="link.title"><%=link.title%>
                <td class="link.title"><%= link_to "Mark as Unread", links_path(link, read: true), method: :patch %>
</tr>
    <%end%>
    <%end%>
</tbody
</table>
</div>
