<div class="center message alert alert-danger"><h4>Url must be valid and title cannot be blank.</h4></div>
<div class="center success-message alert alert-success"><h4>You've successfully made a link!</h4></div>
<%= link_to "Sign Out", logout_path, method: "DELETE", class:"btn btn-info btn-small" %>
<%= render partial: "form" %>
<h2>Filter:</h2>
<%= label_tag "By text:" %>
<%= text_field_tag :q, '', class:"filter-by-text" %>
<%= button_tag "Only Unread Links", class:"filter-by-unread" %>
<%= button_tag "Only Read Links", class:"filter-by-read" %>
<div class="links">
  <% @links.each do |link| %>
    <% case link.first %>
      <% when 2 then popular, link = "Hot", link.last %>
      <% when 1 then popular, link = "Top Link", link.last %>
      <% else popular, link = "", link.last %>
    <% end %>
    <%= render partial: "link", :locals => {link: link, popular: popular} %>
  <% end %>
</div>