<div class="form-2">
<h1><span class="log-in">Add a new Link</span></h1>


<%= form_for(@add_link) do |f| %>

  <p class="float">
    <%= f.label :url %>
    <%= f.text_field :url, placeholder: "url" %>
  </p>

  <p class="float">
    <%= f.label :title %>
    <%= f.password_field :title, placeholder: "title" %>
  </p>

  <p class="clearfix">
    <%= f.submit 'Submit' %>
  </p>
  <% end %>

</div>
