<% if current_user %>

  <%= link_to "Sign Out", logout_path, method: "DELETE" %>
  <h1 class="center-block">Manage Links</h1>
  <hr>
  <%= render "new_link" %>
  <hr>
  <div class="row" id="my-links">
    <% current_user.links.each do |link| %>
      <div class="col-md-4">
        <p>Title: <%= link.title %></p>
        <p>URL: <%= link.url %></p>
        <p>Read? <%= link.read %></p>
      </div>
    <% end %>
  </div>
<% end %>

<% if !current_user %>
  <h1>Login</h1>
  <%= render "login" %>
  <p>Create Account: <%=link_to "Sign Up", new_user_path %></p>
<% end %>
