<%= form_for :link, method: :create do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Add Link" %>
<% end %>

<hr>
<% current_user.links.each do |link| %>
  <div class="id-<%= link.title.downcase %>">

  URL: <%= link.url %><br>
  Title: <%= link.title %><br>
  Read?: <%= link.read %><br>
  <%= link_to "Edit", edit_link_path(link)  %>
  </div>
  <hr>
<% end %>


<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
</div>
