<%= form_for :link, url: '/links' do |f| %>
  URL: <%= f.text_field :url, required: true %><br><br>
  Title: <%= f.text_field :title, required: true %><br><br>
  <%= f.submit "Add Link" %>
<% end %>

<hr>
<div class="my_links">
  <fieldset>
    <p>
      <% @links.each do |link| %>
        Title: <%= link.title %><br>
        URL: <%= link.url %><br>
        Read?: <%= link.read %><br>
        <br><br>
      <% end %>
    </p>
  </fieldset>

  </p>
</div>
