<p><%= button_to "Sign out", logout_path, method: :delete %> </p>
<div class='submit-url'>
  <h3>Add a link</h3>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js" %>

  <%= form_for Link.new, remote: true do |form| %>
    <%= form.label(:url) %>
    <%= form.url_field(:url , class: 'url-tag', for: 'url_field') %>
    <%= form.label(:title, 'Title') %>
    <%= form.text_field(:title, class: 'title-tag') %>
    <%= form.submit('Add Link', class: 'add-link') %>
  <% end %>
</div>

<div class='links'>
  <% @links.each do |link| %>
    <div class="card">
      <div class="container">
        <br>Title: <%= link.title %></br>
        <br>URL: <%= link_to link.url %> </br>
        <br>Read?: <%= link.read %></br>
        <%= button_to "Edit", edit_link_path(link), method: :get %>
      </div>
    </div>
  <% end %>
</div>

