<%= link_to "Add a Link", new_link_path %>

<hr>
<% current_user.links.each do |link| %>
  <div class="id-<%= link.title.downcase %>">

  URL: <%= link.url %><br>
  Title: <%= link.title %><br>
  Read?: <%= link.read %><br>
  <%= link_to "Edit", edit_link_path(link)  %>
  </div>
  <hr>
<% end %>
