  <form id="new-link">
    <label>URL:</label>
    <input id="link-url">

    <label>Title:</label>
    <input id="link-title">

    <input type="submit" value="Add Link">
  </form>

  <div id="warning">
  </div>

<div id="links-list">
  <% @links.each do |link| %>
    <div class='link' data-userId='<%= link.user_id %>' data-id='<%= link.id %>' id="link-<%= link.id %>">
      <p class="link-title">Title: <%= link.title %></p>
      <p class="link-url">URL: <%= link.url %></p>
      <p class="link_read">Read?: <%= link.read %></p>
    </div>
  <% end %>
</div>

<h2>Hot Reads!</h2>
<ol id="hot-reads">
  <% @hot_links.each do |read| %>
  <li class='hot-read'>
    <a href="<%= read.url %>"><%= read.url %></a>
  </li>
  <% end %>
</ol>
<img src="https://m.popkey.co/4c7272/QL6mJ.gif">
