<a href='/logout' id='logout-link'>Sign out</a>

<form>
  URL: <input type="text" name="url" />
  Title: <input type="text" name="title" />
</form>
<button id='add-link-button'>Add Link</button>

<div id='links'>
  <% @links.each do |link| %>
   <div class='link'>
     <a href=<%=link.url %>><h4><%= link.url %></h4></a>
     <h4><%= link.title %></h4>
     <%= button_to "Edit #{link.title}", edit_link_path(link), method: :get %>
     <button data-id=<%=link.id %>>Mark as Read</button>
   </div>
   <% end %>
</div>
