<a href='/logout' id='logout-link'>Sign out</a>

<%= form_for Link.new do |f| %>
  <%= f.label 'URL'  %>
  <%= f.url_field 'url' %>
  <%= f.label 'Title' %>
  <%= f.text_field 'title' %>
  <%= f.label 'Read?', value: false %>
  <%= f.radio_button 'read', :checked => true, :unchecked => false %>
  <%= f.submit 'Add Link' %>
<% end %>
