<h1>All Links</h1>
<%= render partial: 'shared/link_form', locals: {link: @link} %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Read?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.links.each do |link| %>
    <tr class='link' id='<%= link.id %>'>
      <td><%= link.title %></td>
      <td><%= link.url %></td>
      <td class='read-status'><%= link.read %></td>
      <% if link.read %>
        <td class='mark-as-unread'><%= link_to 'Mark as Unread', edit_link_path(link), method: 'PATCH' %>
        </td>
      <% else %>
        <td class='mark-as-read'><button>Mark as Read</button>
        </td>
      <% end %>
      <td><%= link_to 'Edit', edit_link_path(link) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
