

Welcome to links index, <%= current_user.email %>!


<div class="form_field">
  <%= form_for @link do |f| %>
    <%= f.label :url %>
    URL: <%= f.text_field :url %>
    Title: <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit "Add Link" %>
  <% end %>
</div>
