<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar">
      <section class="navbar-section">
          <% if current_user %>
            <a href="/logout" class="btn btn-link user-status">Logout</a>
          <% end %>
      </section>
  </header>
<div class="container">
  <%= render partial: 'shared/flash' %>
  <%= yield %>
</div>

</body>
</html>
